.nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #020617;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  border-bottom: 1px solid #e5e7eb;
  position: relative;
}

.logo {
  font-weight: 800;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

.links {
  display: flex;
  gap: 24px;
}

.links a {
  text-decoration: none;
  font-weight: 600;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
}

.links a.active {
  background-color: transparent;
  color: #38bdf8;
  border-bottom: 2px solid #38bdf8;
  border-radius: 5px;
}

.links a.active:hover {
  color: black;
  padding: 6px 10px;
  background-color: #38bdf8;
  border-radius: 5px;
  border: none;
}

.links a:hover {
  background-color: #38bdf8;
  color: #020617;
}

.burger {
  display: none;
  background: none;
  border: none;
  color: #38bdf8;
  font-size: 26px;
  cursor: pointer;
  padding: 8px;
}

/* Mobile */
@media (max-width: 900px) {
  .burger {
    display: block;
  }

  .links {
    display: none;
    position: absolute;
    top: 64px;
    right: 0;
    width: 100%;
    background: #020617;
    flex-direction: column;
    padding: 16px 24px;
    border-bottom: 1px solid #1f2937;
  }

  .links.open {
    display: flex;
  }

  .links a {
    padding: 12px 0;
  }
}
